extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/project') &larr; back to project
			br
	.container: .jumbotron: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		if !data.post
			h2 Invalid Post.
		else
			header
				h2= data.post.title
			br
			.post
				if data.post.image.exists
					.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					br
					p!= data.post.content.full
